* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   padding-left: 100px;
  padding-right: 100px; */
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/fondo.svg") center / cover no-repeat fixed;
  background-size: cover;
  scroll-behavior: smooth;
}