.navbar-brand {

  img {
    max-height: 80px;
    max-width: 100%;
  }

}

.whatsapp {
  text-decoration: none;
  color: black;

  &:hover {
    color: $pink-color;
  }
}

header {
  padding: 10px 150px 20px 150px;
}