@media (min-width: 768px) and (max-width: 991px) {
  
  /* Fondo */

  body {
    background: url("../img/fondoclaro.svg") center / cover no-repeat fixed;
  }

  /* Main */

  .main {


    .col-md-3 {
      width: 100%;
    }

    .col-md-4 {
      width: 100%;
    }

    .mq-container {
      border: 1px solid #736779;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: rgba(255, 255, 255, 0.651);
    }

    .caja-titulo-formulario {
      background-color: $pink-color;
      color: white;
    }

    .caja-formulario {
      color: black;
      border-left: 1px solid #736779;
      border-bottom: 1px solid #736779;
      border-right: 1px solid #736779;


      .flecha {
        border-top: 15px solid $pink-color;

      }
    }

  }

  /* Checks */

  .checks {

    .col-md-5 {
      width: 100%;
    }

    .col-md-4 {
      width: 100%;
    }

    .subtitulo {
      font-size: 30px;
      border-radius: 30px;
      color: white;
      background-color: #736779;

      span {
        color: black;
      }
    }

    .caja-checks {
      border: 1px solid #736779;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: rgba(255, 255, 255, 0.651);

      .textoChecks,
      .checks {
        p {
          color: black;
          margin-bottom: 0rem;
        }
      }
    }
  }
}

@media (max-width: 1199px) {

  /* Fondo */

  body {
    background: url("../img/fondoclaro.svg") center / cover no-repeat fixed;
  }

  /* Main */
  .row>* {
    padding-right: calc(var(--bs-gutter-x) * -0.5);

  }

  .amicla {
    font-size: 35px;
  }
}

@media (max-width: 768px) {

  /* Fondo */

  body {
    background: url("../img/fondoclaro.svg") center / cover no-repeat fixed;
  }

  /* Main */

  .main {

    .col-md-3 {
      width: 100%;
    }

    .col-md-4 {
      width: 100%;
    }

    .mq-container {
      border: 1px solid #736779;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: rgba(255, 255, 255, 0.651);
    }

    .caja-titulo-formulario {
      background-color: $pink-color;
      color: white;
    }

    .caja-formulario {
      color: black;
      border-left: 1px solid #736779;
      border-bottom: 1px solid #736779;
      border-right: 1px solid #736779;


      .flecha {
        border-top: 15px solid $pink-color;

      }
    }

  }

  /*  Checks */

  .checks {

    .col-md-5 {
      width: 100%;
    }

    .col-md-4 {
      width: 100%;
    }

    .subtitulo {
      font-size: 20px;
      border-radius: 30px;
      color: white;
      background-color: #736779;

      span {
        color: black;
      }
    }

    .caja-checks {
      border: 1px solid #736779;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: rgba(255, 255, 255, 0.651);

      .textoChecks,
      .checks {
        p {
          color: black;
          margin-bottom: 0rem;
        }
      }
    }

    .bi-check-circle,
    .bi-telephone,
    .bi-envelope,
    .bi-geo-alt {
      width: 2rem;
      height: 2rem;
      background: linear-gradient(to bottom, #736779, $pink-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }

  }

  /* Footer */

  footer {

    .textoChecks {
      color: black;
    }

    .foot {
      margin-top: 30px;
    }
  }

}

@media (max-width: 662px) {

  /* Fondo */

  body {
    background: url("../img/fondoclaro.svg") center / cover no-repeat fixed;
  }

  nav {
    div {
      display: flex;
      flex-direction: column;
    }
  }

  main {
    div {
      .mb-3 {
        text-align: center;
      }
    }


    .formulario {
      .mb-3 {
        text-align: start;
      }

    }
  }

  .checks {
    .bi-check-circle,
    .bi-telephone,
    .bi-envelope,
    .bi-geo-alt {
      width: 2rem;
      height: 2rem;
      background: linear-gradient(to bottom, #736779, $pink-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
  }
}

@media (max-width: 575px) {

  body {
    padding: 20px;
    background: url("../img/fondoclaro.svg") center / cover no-repeat fixed;
  }

  .checks {
    .bi-check-circle,
    .bi-telephone,
    .bi-envelope,
    .bi-geo-alt {
      width: 2rem;
      height: 2rem;
      background: linear-gradient(to bottom, #736779, $pink-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
  }
}

@media (max-width: 555px) {

    /* Fondo */

  body {
    background: url("../img/fondoclaro.svg") center / cover no-repeat fixed;
  }

  header {
    padding: 0;
  }

  .checks{
    
    .bi-check-circle,
    .bi-telephone,
    .bi-envelope,
    .bi-geo-alt {
      width: 2rem;
      height: 2rem;
      background: linear-gradient(to bottom, #736779, $pink-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
  }

}