* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   padding-left: 100px;
  padding-right: 100px; */
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/fondo-formulario.svg") center / cover no-repeat;
}

header {
  padding: 20px 150px 20px 150px;
}

.whatsapp {
  padding: 10px 50px;
}

.main {
  padding-left: 100px;
  margin-top: 150px;
}

.amicla {
  font-weight: 900;
}

.formulario {
  border-radius: 30px;
  border: 5px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0.236);
}

.titulo-formulario {
  border-bottom: 2px solid whitesmoke;
  font-weight: 400;
  font-size: 20px;
  color: white;
}